<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Tang</title>
    <link rel="stylesheet" href="/styles/reset_styles.css">
    <link rel="stylesheet" href="/styles/blogpage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="light-theme">
    <div class="content-wrap">
        <header>
            <nav class="main-nav">
                <div class="main-nav-inner">
                    <div class="hamburger-menu">☰</div>
                    <div id="theme-toggle-container">
                        <button id="theme-toggle">Toggle Theme</button>
                    </div>
                    <div id="nav-links-container">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#resources">Resources</a></li>
                            <li><a href="#projects">Projects</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
           <section id="about">
                <!-- Blog post content begins here -->
                <div class="blog-post-container">
                    <article>
                        <h3><%= post.title %></h3>
                        <img src="<%= post.imageUrl %>" alt="<%= post.imageDescription %>">
                        <p><%= post.content %></p>
                    </article>
                </div>
                <!-- Blog post content ends here -->
            </section>
        </main>
    </div>
    <footer>
        <div class="footer-section" id="resources">
            <p>Resources information...</p>
        </div>
        <div class="footer-section" id="community">
            <p>Community information...</p>
        </div>
        <div class="footer-section" id="contact">
            <p>Contact information...</p>
        </div>
        <p class="footer-bottom-text">&copy; 2024 David Tang. All Rights Reserved.</p>
    </footer>
    <script src="/scripts/theme-switcher.js"></script>
</body>
</html>

