<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Tang</title>

    <link rel="stylesheet" href="./reset_styles.css">
    <link rel="stylesheet" href="./main_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="light-theme">
    <header>
      <nav>
        <div id="theme-toggle-container">
            <button id="theme-toggle">Toggle Theme</button>
        </div>
        <div id="nav-links-container">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    </header>
    <main>
        <section id="home">

            <section id="about">
                <h2>About</h2>
                    <div class="hero-img-container" style="background-image: url('img/office.webp');" alt="A description of the image"></div>

                <!-- Detailed about me/personal journey content goes here -->
            </section>

            <section id="Latest">
                <h2>Latest</h2>
                <div class="blog-container">
                    <% posts.forEach(function(post) { %>
                        <div class="post">
                            <div class="image-container">
                                <h2><%= post.title %></h2>
                                <img src="<%= post.imagePath %>" alt="<%= post.imageDescription %>">
                            <p><%= post.description %></p> <!-- Display the SEO description -->
                        </div>
                    </div>
                <% }); %>
               </div>
            </section>
            </section>

            <section id="projects">
                <h2>Projects</h2>
                <div class="box">
                    <img src="path/to/image" alt="AI Playground">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
                <div class="box">
                    <img src="path/to/image" alt="ROVY">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
                <div class="box">
                    <img src="path/to/image" alt="CitizenSpace">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div class="box">
            <div class="footer-section" id="resources">
                <img src="path/to/image" alt="Resources">
                <p>Resources information...</p>
            </div>
        </div>
        </div>
        <div class="box">
            <div class="footer-section" id="community">
                <img src="path/to/image" alt="Community">
                <p>Community information...</p>
            </div>
        </div>
        </div>
        <div class="box">
            <div class="footer-section" id="contact">
                <img src="path/to/image" alt="Contact">
                <p>Contact information...</p>
            </div>
        </div>
        </div>
        <p>&copy; 2024 Your Name. All Rights Reserved.</p>
    </footer>
    <script src="themetoggle.js"></script>
</body>
</html>

